html {
    height: 100%;
}

body {
    background: url('tausta.jpg') no-repeat fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-backround-size: cover;
    overflow: auto;
    padding-bottom: 5rem;
    height: 100%;
}

a {
    text-decoration: none;
    color: purple;
}

.card {
    opacity: 0.9;
}