body {
    background: url('tausta.jpg') no-repeat fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-backround-size: cover;
    overflow: auto;
    padding-bottom: 5rem;
}

a {
    text-decoration: none;
    font-weight: bold;
    color: darkblue;
}

.card {
    opacity: 0.9;
}